﻿@page
@model PWA.Pages.AddNewsModel
@{
}
<div class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="commerce-login-form">
                    <h1 class="text-center">Dodaj novosti</h1>

                    <form method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="News.Title" class="form-label form-required">Naslov Vijesti</label>
                                <input asp-for="News.Title" class="form-control" aria-required="true" />
                                <span asp-validation-for="News.Title" class="text-danger"></span>
                            </div>

                            <div class="col-md-12">
                                <label asp-for="News.Brief" class="form-label form-required">Kratki sadržaj (Do 50 znakova)</label>
                                <textarea asp-for="News.Brief" class="form-control" aria-required="true"></textarea>
                                <span asp-validation-for="News.Brief" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="News.Text" class="form-label form-required">Sadržaj vijesti</label>
                                <textarea asp-for="News.Text" class="form-control" aria-required="true"></textarea>
                                <span asp-validation-for="News.Text" class="text-danger"></span>
                            </div>
                        </div>

                        @*                        <div class="row">
                        <div class="col-md-12">
                        <label asp-for="News.Image" class="form-label">Slika</label>
                        <input asp-for="News.Image" class="form-control" type="image"/>
                        <span asp-validation-for="News.Image" class="text-danger"></span>
                        </div>
                        </div>
                        *@
                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="News.Category" class="form-label form-required">Kategorija</label>
                                <input asp-for="News.Category" class="form-control" aria-required="true" type="text" />
                                <span asp-validation-for="News.Category" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="News.Archive" class="form-label form-required">Spremiti u arhivu</label>
                                <input type="checkbox" asp-for="News.Archive" class="form-control" aria-required="true" />
                                <span asp-validation-for="News.Archive" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-wrap">
                                    <button type="submit" class="spinner-loader w-100" tabindex="3">
                                        <span>Prihvati</span>
                                    </button>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-wrap">
                                    <button type="reset" class="w-100">Poništi</button>
                                </div>
                            </div>

                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}