﻿@page
@model PWA.Pages.ContactModel
@{
    ViewData["Title"] = "Kontakt";
}

    <div class="container">
        <h2 class="headings text-center mt-5">Gdje se nalazimo?</h2>
        <div class="row mt-5 mb-5">
            <div class="col-sm-4">
                <div class="contact-info">
                    <div class="contact-icon">
                        <i class="fa fa-3x fa-envelope"></i>
                    </div>
                    <div class="contact-inner">
                        <h6 class="contact-title">E-mail</h6>
                        <div class="contact-content">
                            igor.halilovic97@gmail.com
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="contact-info">
                    <div class="contact-icon">
                    <i class="fa fa-3x fa-phone"></i>
                    </div>
                    <div class="contact-inner">
                        <h6 class="contact-title">Telefon</h6>
                        <div class="contact-content">
                            0912831293
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="contact-info">
                    <div class="contact-icon">
                    <i class="fa fa-3x fa-map-marker"></i>
                    </div>
                    <div class="contact-inner">
                        <h6 class="contact-title">Adresa</h6>
                        <div class="contact-content">
                            Klaićeva 9
                            <br />
                            10000 Zagreb
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-sm-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2781.1095726709755!2d15.959549076722583!3d45.809063910362106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d6e67c6f259d%3A0x9028036cc261584d!2sUl.%20Vjekoslava%20Klai%C4%87a%209%2C%2010000%2C%20Zagreb!5e0!3m2!1shr!2shr!4v1686397446991!5m2!1shr!2shr"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>



        <div class="row">
            <h2 class="headings text-center mt-5 mb-5">Pošalji nam poruku!</h2>
            <div class="col-sm-12">

                <div class="contact-form-wrapper">
                    <form class="contact-form" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="Name" class="form-label form-required">Ime i prezime</label>
                                <input asp-for="Name" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                            <div class="col-md-6">
                                <label asp-for="Email" class="form-label form-required">E-mail</label>
                                <input asp-for="Email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="Message" class="form-label">Poruka</label>
                                <textarea asp-for="Message" class="form-control" cols="40" rows="10"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 offset-md-5">
                                    <button tabindex="3">
                                        Pošalji
                                    </button>
                                    </div>

                                    
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
