﻿@page
@model PWA.Pages.GalleryxModel
@{
    ViewData["Title"] = "Galerija";
}

<div class="container">
    <h2>Gallery</h2>
    <div class="row">
        <div class="col-md-3">
            <img src="image1.jpg" class="img-fluid">
        </div>
        <div class="col-md-3">
            <img src="image2.jpg" class="img-fluid">
        </div>
        <div class="col-md-3">
            <img src="image3.jpg" class="img-fluid">
        </div>
        <div class="col-md-3">
            <img src="image4.jpg" class="img-fluid">
        </div>
    </div>
</div>
