﻿@page
@model PWA.Pages.LoginModel
@{
}
<div class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-3 col-sm-8 ">
                <div class="commerce-login-form">
                    <h1 class="text-center">Prijava</h1>

                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="Email" class="form-label">E-mail</label>
                                <input asp-for="Email" class="form-control" aria-required="true" autofocus tabindex="1" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="Password" class="form-label">Lozinka <a class="lost-password font-ftbcolor" asp-page="/ForgotPassword" tabindex="4">Izgubljena lozinka?</a></label>
                                <input asp-for="Password" class="form-control" aria-required="true" tabindex="2" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-wrap">
                                    <button type="submit" class="spinner-loader w-100" tabindex="3">
                                        <span>Prijava</span>
                                    </button>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            </div>
                        </div>
                    </form>

                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-lg-offset-2 pb-2">
                            <p class="text-center">Nemaš korisnički račun? <a class="font-ftbcolor" asp-page="/Register" tabindex="5">Registriraj se</a>.</p>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-lg-offset-1">
                            <p class="text-center fz-13">
                                Vaši osobni podaci koristit će se za potporu vašem iskustvu na ovom web mjestu,
                                za upravljanje pristupom vašem računu i u druge svrhe opisane u našoj
                                politici privatnosti.</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>