﻿@page "/registracija"
@model PWA.Pages.RegisterModel


<div class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="commerce-login-form">
                    <h1 class="text-center">Registracija</h1>

                    <form method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <label asp-for="FirstName" class="form-label form-required">Ime</label>
                                <input asp-for="FirstName" class="form-control" aria-required="true" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>

                            <div class="col-md-6">
                                <label asp-for="LastName" class="form-label form-required">Prezime</label>
                                <input asp-for="LastName" class="form-control" aria-required="true" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="Email" class="form-label form-required">E-mail adresa</label>
                                <input asp-for="Email" class="form-control" aria-required="true" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="Phone" class="form-label">Broj mobitela</label>
                                <input asp-for="Phone" class="form-control" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="Password" class="form-label form-required">Lozinka</label>
                                <input asp-for="Password" class="form-control" aria-required="true" type="password" />
                                <span asp-validation-for="Password" class="text-danger" ></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label asp-for="ConfirmPassword" class="form-label form-required">Potvrdi lozinku</label>
                                <input asp-for="ConfirmPassword" class="form-control" aria-required="true"  type="password"/>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-wrap">
                                    <button type="submit" class="spinner-loader w-100" tabindex="3">
                                        <span>Registracija</span>
                                    </button>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-lg-8 col-lg-offset-2">
                                <p class="text-center">Već imaš korisnički račun? <a class="font-ftbcolor" asp-page="/Login">Prijavi se</a>.</p>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-lg-10 col-lg-offset-1">
                                <p class="text-center fz-13">
                                    Vaši osobni podaci koristit će se za potporu vašem iskustvu na ovom web mjestu,
                                    za upravljanje pristupom vašem računu i u druge svrhe opisane u našoj
                                    <a class="font-ftbcolor" asp-page="/PrivacyPolicy">politici privatnosti.</a>
                                </p>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}